.appointment-container {
  background-image: linear-gradient(blue, black);
  background-size: cover;
  height: 100vh;
  padding: 20px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: auto;
}

.appointment-arrow {
  color: white;
  font-size: large;
  display: flex;
  justify-content: flex-start;
}

.appointment-title {
  color: white;
  font-style: normal;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  text-align: center;
}

.appointment-profile-image {
  height: 350px;
  width: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.appointment-image-container {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.name {
  color: white;
}

.whole-contact-container {
  margin-top: 60px;
  margin-left: -5px;
}

.doc-prof-container {
  height: 20px;
  width: 125px;
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 13px;
  padding-bottom: 20px;
  margin-left: 35px;
  margin-bottom: 80px;
}

.doc-prof {
  color: beige;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-container {
  background-color: white;
  width: 200px;
  height: 29px;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.icon {
  color: dodgerblue;
  font-size: 20px;
  font-weight: 800;
}

.text {
  color: dodgerblue;
  font-size: 15px;
  font-weight: 800;
}

.all-days-container {
  background-color: rgb(51, 50, 50);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 87vw;
  height: 300px;
  padding-left: 20px;
  margin-top: 15px;
  margin-left: 25px;
}

.select-date {
  color: white;
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: bold;
}

.all-days {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.calender-container {
  margin-top: 35px;
  border-style: solid;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-width: 1px;
  border-right: dashed white;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calender {
  color: white;
  font-size: 50px;
  margin-top: 15px;
}

.day {
  color: cadetblue;
  font-size: 16px;
  font-weight: 600;
}
.date {
  color: white;
  font-size: 30px;
}

.all-timings {
  background-color: rgb(51, 50, 50);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 87vw;
  height: 350px;
  padding-left: 20px;
  margin-top: 15px;
  margin-left: 25px;
}

.select-time {
  color: white;
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-bottom: 30px;
}

.all-tym-container {
  display: flex;
  flex-wrap: wrap;
}
.tym-container {
  height: 60px;
  width: 170px;
  border-style: outset;
  border-width: 1px;
  border-color: azure;
  display: flex;
  justify-content: center;
  margin: 25px;
}

.tym {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.booking {
  background-color: blue;
  border-radius: 20px;
  text-align: center;
  width: 87vw;
  height: 45px;
  margin-left: 25px;
}

.btn-text {
  color: white;
  font-size: 24px;
  font-weight: 900;
  font-family: sans-serif;
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 13px;
  }
  .appointment-title {
    font-size: 13px;
    font-weight: 800;
  }

  .appointment-profile-image {
    height: 125px;
    width: 100px;
  }

  .appointment-image-container {
    margin-top: 10px;
  }

  .whole-contact-container {
    margin-top: 30px;
    margin-left: -2px;
  }

  .doc-prof-container {
    height: 14px;
    width: 60px;
    border-radius: 8px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .doc-prof {
    font-size: 9px;
  }

  .contact-container {
    background-color: white;
    width: 60px;
    height: 14px;
    border-radius: 10px;

    margin-bottom: 8px;
  }

  .icon {
    font-size: 10px;
  }

  .text {
    font-size: 8px;
  }

  .all-days-container {
    border-radius: 10px;

    width: 87vw;
    height: 150px;
    padding-left: 10px;
    margin-top: 8px;
    margin-left: 13px;
  }

  .select-date {
    font-size: 10px;
  }

  .calender-container {
    margin-top: 16px;
    width: 50px;
  }

  .calender {
    font-size: 25px;
    margin-top: 8px;
  }

  .day {
    font-size: 9px;
    font-weight: 600;
  }
  .date {
    font-size: 15px;
  }

  .all-timings {
    border-radius: 10px;
    width: 87vw;
    height: 40px;
    padding-left: 10px;
    display: flex;
    overflow: auto;
  }

  .select-time {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .all-tym-container {
    display: flex;
    overflow: auto;
  }
  .tym-container {
    height: 14px;
    width: 33px;
  }

  .tym {
    font-size: 9px;
  }

  .booking {
    border-radius: 10px;
    width: 87vw;
    height: 22px;
    margin-left: 23px;
  }

  .btn-text {
    font-size: 12px;
    font-weight: 900;
  }
}
